<launch>
    <!-- Run the controller manager. 
    <node name    = "controller_manager"
          pkg     = "osuar_controller_manager"
          type    = "controller_manager"
          output  = "screen"/>       -->

    <!-- Run the subcontrollers. 
    <node name    = "takeoff_landing_controller"
          pkg     = "osuar_takeoff_landing_controller"
          type    = "takeoff_landing_controller"/>
				     -->
    <node name    = "rosbag_logger"
          pkg     = "rosbag"
          type    = "record"
          args    = "--output-prefix=$(find osuar_core)/bagfiles/flightlog
                     -a" /> 
			

    <node name    = "barney_pilot"
          pkg     = "osuar_telepilot"
          type    = "osuar_master_node"
          launch-prefix = "xterm -e gdb -ex run --args" />

    <node name    = "altitude_control"
          pkg     = "osuar_telepilot"
          type    = "altitude_controller" />

    <node name    = "wall_follow"
          pkg     = "osuar_telepilot"
          type    = "wall_follow"/>

    <node name    = "move_control"
          pkg     = "osuar_telepilot"
          type    = "move_control"/>
	
    <node name    = "joystick"
          pkg     = "joy"
          type    = "joy_node" />
</launch>

